<div class="w-full bg-gray-950 text-white page-container">
  <div class="flex flex-row w-full h-[100%] sticky p-20 bg-container">
    <div class="content-block flex flex-col w-full">
      <div
        class="w-full border-2 rounded border-slate-500 p-8 flex justify-between items-center"
      >
        <app-registration (emitData)="registerUser($event)"></app-registration>
        <app-users-section></app-users-section>
      </div>
      <div
        class="flex justify-between items-center w-full border-2 rounded border-slate-500 p-8"
      >
        <app-login (emitData)="loginUser($event)"></app-login>
        <div class="text-gray-400 w-[50%] break-words">{{ jwt() }}</div>
      </div>
      <hr />
      <h3 class="text-center mt-0.5 mb-1">Admin</h3>
      <div
        class="flex justify-between items-center w-full border-2 rounded border-slate-500 p-8"
      >
        <app-login (emitData)="loginAdminUser($event)"></app-login>
        <div class="text-gray-400 w-[50%] break-words">{{ jwt() }}</div>
      </div>
      <hr>
      <div
        class="flex justify-between items-center w-full border-2 rounded border-slate-500 p-8"
      >
        <app-addconfig (emitData)="addConfig($event)"></app-addconfig>
        <app-configs-section></app-configs-section>
      </div>
    </div>
  </div>
</div>
